[package]
name = "avt"
version = "0.5.0"
authors = ["Marcin Kulik <m@ku1ik.com>"]
edition = "2021"

[dependencies]
serde = { version = "1.0.130", features = ["derive"] }
rgb = "0.8.33"

[dev-dependencies]
rand = "0.7"
quickcheck = "1.0.1"
quickcheck_macros = "1.0.0"
criterion = "0.3"
pretty_assertions = "1.0"

[[bench]]
name = "feed"
harness = false

[[bench]]
name = "dump"
harness = false
